/*>>>>>>>>>>>>>>>>>>>>>>>>> General Styles  <<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Imported Google fonts - Barlow and Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

/* Default browser styles override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #525159;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    background-color: #e7dedb;
}

/*======================= End of General Styles =======================*/
/*===========================================================================*/

/*>>>>>>>>>>>>>>>>>>>>>>>>> Styles for Index Page and All Headers + Footers <<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/****  Header ****/
header {
    background-color: #ffffff;
    padding: 0 1rem 0 0.5rem;
    width: 100%;
    position: fixed;
    top: 10px;
    z-index: 99;
    /* Created 2 color gradient to visualy connect the highlight element on nav bar */
    box-shadow: 0 3px 2px -2px #525159, 0 5px 2px -2px #eab5a5;
    border-top: 2px solid rgb(81, 81, 89, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header a {
    text-decoration: none;
    color: inherit;
}

#logo,
h1 {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    font-size: 150%;
    font-weight: 600;
    letter-spacing: 2px;
    color: #199999;
    line-height: 50px;
    padding: 0.5rem 0;
}

/* Index Page navigation */
#menu {
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 5px;
    text-align: center;
}

#menu>li {
    margin-bottom: 0.5em;
}

.highlight {
    background: linear-gradient(to top, #eab5a5 10%, transparent 5%);
}

/* NavigationBar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 2px -2px #525159, 0 5px 2px -2px #eab5a5;
    display: none;
    top: 100%;
}

/* Navigation Dropdown Menu */
#nav-dropdown:checked~nav {
    display: block;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    font-size: 1.5rem;

}


/**** Main Content ****/
main {
    background-color: #e7dedb;
    /* Increase the main section to push the footer down */
    flex: 1 0 auto;
    margin-top: 79px;
}

/**** Footer ****/
#our-social-web {
    background-color: #199999;
    border-top: 2px solid rgb(81, 81, 89, 0.7);
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;

}

#our-social-web i {
    color: #ffffff;
    font-size: 160%;
    padding: 5%;
}

#our-social-web a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

#our-social-web i:hover {
    color: #eab5a5;
}

.visit-socials {
    margin: 1%;
    padding-top: 1rem;
}




/*+++++ Media Responsivness +++++*/
/* For tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        box-shadow: none;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .nav-dropdown-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 50px;
        margin: 0 0.5rem;
    }
}

/* For laptops and desctop screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        /* Created a 2 color gradient for visual interest */
        background: linear-gradient(to top, #eab5a5 40%, transparent 35%);

    }

}


/*======================= End of Styles for Index Page and All Headers + Footers =======================*/
/*======================================================================================================*/