/*>>>>>>>>>>>>>>>>>>>>>>>>> Styles for All Pages <<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Default browser styles override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* *************************  Header ************************* */
header {
    background-color: #199999;
}

/**************************  Main Content **************************/
main {
    background-color: #e7dedb;
}

/**************************  Footer **************************/
footer {
    background-color: #199999;
}

/*======================= End of Styles for All Pages =======================*/
/*===========================================================================*/