/*>>>>>>>>>>>>>>>>>>>>>>>>> Styles for All Pages <<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Default browser styles override */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#525159;
}

/*======================= End of Styles for All Pages =======================*/
/*===========================================================================*/

/*>>>>>>>>>>>>>>>>>>>>>>>>> Styles for Index Page <<<<<<<<<<<<<<<<<<<<<<<<*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/****  Header ****/
header {
    background-color: #199999;
}

/**** Main Content ****/
main {
    background-color: #e7dedb;
    /* Increase the main section to push the footer down */
    flex: 1 0 auto;
}

/**** Footer ****/
footer {
    background-color: #199999;
}


/*======================= End of Styles for Index Page =======================*/
/*===========================================================================*/